<div class="row">
  <form name="form" class="col s12" ng-submit="form.$valid && home.addHost()" novalidate>


    <div class="row">
      <div class="input-field col s12">
        <input id="host" name="host" type="text" length="30" ng-trim="true" ng-model="home.hostToAdd" ng-required="true" ng-pattern="/^[A-Za-z0-9\.]+$/">
        <label for="Host">Host</label>
      </div>
    </div>
    <div ng-show="form.$invalid && !form.$pristine" class="row">

      <div class="red-text text-lighten-1" ng-show="form.host.$error.pattern">
        Invalid host!
      </div>
    </div>
    <div class="row">

      <button class="btn waves-effect waves-light right" type="submit">
        <i class="mdi-content-add-circle-outline left"></i>Add</button>
    </div>
  </form>
</div>
<div class="row progress-row">
  <div class="progress" ng-show="home.loading">
    <div class="indeterminate"></div>
  </div>
</div>
<div class="row">
  <table class="hoverable bordered">
    <thead>
      <tr>
        <th data-field="id">Host</th>
        <th data-field="name">Lag</th>
        <th data-field="price">Operation</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="(host,detail) in home.records">
        <td>{{host}}</td>
        <td>{{detail.lag}}</td>
        <td class="op">
          <a class="btn-floating btn-small waves-effect waves-light red" title="delete" ng-click="home.removeHost(host)">
            <i class="mdi-action-delete"></i>
          </a>

        </td>
      </tr>

    </tbody>
  </table>
</div>
